<template>
    <div class="row center-all h-100">
        <div class="col-11 col-sm-8 col-md-7 col-lg-4">
            <form id="reset-password" method="post" autocomplete="off" @submit.prevent="resetPassword" novalidate>
                <div class="mb-4">
                    <h5 class="mb-1"> RESET PASSWORD </h5>
                    <p class="text-muted">
                        Enter your credentials to update your account
                    </p>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" v-model="form.password">
                </div>
                <div class="mb-3">
                    <label for="password_confirmation" class="form-label">Password Confirmation</label>
                    <input type="password" class="form-control" id="password_confirmation" v-model="form.password_confirmation">
                </div>
                <button type="submit" class="btn btn-primary rounded-pill">UPDATE PASSWORD</button>
            </form>
        </div>
    </div>
</template>

<script>

    export default {
        middleware: 'guest',
        data(){
            return {
                form: new WebForm("#reset-password", {
                    email    : '',
                    token    : '',
                    password : '',
                    password_confirmation : ''
                })
            };
        },
        methods: {
            resetPassword(){
                var $vm = this
                $vm.form.email = $vm.$route.query.email;
                $vm.form.token = $vm.$route.params.token;
                $vm.form.post('/api/v1/auth/reset-password').then(response => {

                    // Redirecciona al inicio
                    $vm.$router.push({ name: 'auth-sign-in' });
                })
            }
        },
    }
</script>