// Fonts
@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.center{
    &-y{
        @extend .d-flex;
        @extend .align-items-center;
    }
    &-x{
        @extend .d-flex;
        @extend .justify-content-center;
    }
    &-all{
        @extend .d-flex;
        @extend .align-items-center;
        @extend .justify-content-center;
    }
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, -15px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.fade-in-up-leave-to {
    opacity: 0;
    transition: opacity .3s;
}

.fade-in-up-enter {
    opacity: 0;
    transform: translate3d(0, -15px, 0);
}

.fade-in-up-enter-to {
    opacity: 0;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}

.btn {

    letter-spacing: 0.025em;
    
    &-loading {
        position: relative;
        pointer-events: none;
        color: transparent !important;

        &:after {
            content: "";
            display: block;
            height: 1em;
            width: 1em;
            position: absolute;
            left: calc(50% - (1em / 2));
            top: calc(50% - (1em / 2));
            animation: spinAround 500ms infinite linear;
            border: 2px solid opacify($white, 0.65);
            border-radius: 50%;
            border-right-color: transparent !important;
            border-top-color: transparent !important;
        }

        &-dark {
            @extend .btn-loading;

            &:after {
                border-color: opacify($black, 0.65);
            }
        }
    }
}

@keyframes spinAround {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.rounded-xl{
    border-radius: 0.8rem !important;
}

.image-card-cover{
    width: 100%;
    height: 18rem;
    object-fit: cover;
}