<template>
    <div class="row center-all h-100">
        <div class="col-11 col-sm-8 col-md-7 col-lg-4">
            <form id="forgot-password" method="post" autocomplete="off" @submit.prevent="forgotPassword" novalidate>
                <div class="mb-4">
                    <h5 class="mb-1"> FORGOT PASSWORD </h5>
                    <p class="text-muted">
                        Enter your email to reset your password
                    </p>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email" v-model="form.email">
                </div>
                <button type="submit" class="btn btn-primary rounded-pill">RESET PASSWORD</button>
            </form>
        </div>
    </div>
</template>

<script>

    export default {
        middleware: 'guest',
        data(){
            return {
                form: new WebForm("#forgot-password", {
                    email : '',
                })
            };
        },
        methods: {
            forgotPassword(){
                var $vm = this
                $vm.form.post('/api/v1/auth/forgot-password').then(response => {
                    // Redirecciona al inicio
                    $vm.$router.push({ name: 'index' });
                });
            }
        },
    }
</script>