<template>
    <div class="row center-all h-100">
        <div class="col-11 col-sm-8 col-md-7 col-lg-4">
            <form id="sign-in-form" method="post" autocomplete="off" @submit.prevent="signIn" novalidate>
                <div class="mb-4">
                    <h5 class="mb-1"> WELCOME BACK </h5>
                    <p class="text-muted">
                        Enter your credentials to access to your account
                    </p>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" v-model="form.email">
                </div>
                <div class="mb-1">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" v-model="form.password">
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="remember" v-model="form.remember">
                        <label class="custom-control-label" for="remember">Remember me</label>
                    </div>
                    <router-link :to="{ name: 'auth-forgot-password' }">Reset Password?</router-link>
                </div>
                <button type="submit" class="btn btn-primary rounded-pill">SIGN IN</button>
                <hr>
                <p class="text-muted mt-3">
                    Don't have an account yet? 
                    <router-link :to="{ name: 'auth-sign-up' }">Sign Up</router-link>
                </p>
            </form>
        </div>
    </div>
</template>

<script>

    export default {
        middleware: 'guest',
        data(){
            return {
                form: new WebForm("#sign-in-form", {
                    email    : '',
                    password : '',
                    remember : false
                })
            };
        },
        methods: {
            signIn(){
                var $vm = this
                this.form.post('/api/v1/auth/signin').then(response => {

                    let data = response.data.attributes
                    let user = response.data.included[0]

                    // Almacena el Token JWT
                    let token = `${data.token_type} ${data.access_token}`;
                    $vm.$store.set('user', user)
                    $vm.$store.set('expires_in', data.expires_in)
                    $vm.$store.set('access_token', token)

                    // Asigna las variable para actualizar el estado
                    $vm.user = user;
                    $vm.access_token = token;
                    $vm.expires_in = data.expires_in;

                    // Asigna el token
                    window.axios.defaults.headers.common['Authorization'] = $vm.access_token;

                    // Redirecciona al inicio
                    $vm.$router.push({ name: 'index' });
                })
            }
        }
    }
</script>