<template>
    <div class="row center-all h-100">
        <div class="col-11 col-sm-8 col-md-7 col-lg-4 py-4">
            <form id="sign-up-form" method="post" autocomplete="off" @submit.prevent="signUp" novalidate>
                <div class="mb-4">
                    <h5 class="mb-1"> GETTING STARTED </h5>
                    <p class="text-muted">
                        Start for free and create an account to continue
                    </p>
                </div>
                <div class="row mb-2">
                    <div class="col-12 col-md-6 pr-3 pr-md-2 mb-2 mb-md-0">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" v-model="form.name">
                    </div>
                    <div class="col-12 col-md-6 pl-3 pl-md-2">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" v-model="form.username">
                    </div>
                </div>
                <div class="mb-2">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" v-maska="'+503 ####-####'" class="form-control" id="phone" v-model="form.phone">
                </div>
                <div class="mb-2">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" v-model="form.email">
                </div>
                <div class="mb-2">
                    <label for="day" class="form-label">Birthday</label>
                    <div class="row">
                        <div class="col-4 pr-2">
                            <input type="text" v-maska="'##'" v-model="birthday.day" class="form-control" placeholder="Day" id="day">
                        </div>
                        <div class="col-4 px-2">
                            <select v-model="birthday.month" class="form-control" id="month">
                                <option v-for="(month, index) in months" :key="index" :value="(index + 1)">{{ month }}</option>
                            </select>
                        </div>
                        <div class="col-4 pl-2">
                            <input type="text" v-maska="'####'" v-model="birthday.year" class="form-control" placeholder="Year" id="year">
                        </div>
                    </div>
                    <div id="birthday"></div>
                </div>
                <div class="mb-2">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" v-model="form.password">
                </div>
                <div class="mb-3">
                    <label for="password_confirmation" class="form-label">Password Confirmation</label>
                    <input type="password" class="form-control" id="password_confirmation" v-model="form.password_confirmation">
                </div>
                <button type="submit" class="btn btn-primary rounded-pill">SIGN UP</button>
                <hr>
                <p class="text-muted mt-3">
                    Already a member? 
                    <router-link :to="{ name: 'auth-sign-in' }">Sign In</router-link>
                </p>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        middleware: 'guest',
        data(){
            return {
                birthday: {
                    day: null,
                    month: 1,
                    year: null,
                },
                form: new WebForm("#sign-up-form", {
                    'name' : null,
                    'username' : null,
                    'phone' : null,
                    'email' : null,
                    'birthday' : null,
                    'password': null,
                    'password_confirmation': null
                }),
                year: (new Date).getFullYear()
            };
        },
        methods: {
            signUp(){
                var $vm = this

                let day   = String(($vm.birthday.day || 0)).padStart(2, '0')
                let month = String(($vm.birthday.month || 0)).padStart(2, '0')
                let year  = String(($vm.birthday.year || 0)).padStart(4, '0')

                $vm.form.birthday = `${year}-${month}-${day}`
                $vm.form.post('/api/v1/auth/signup').then(response => {

                    // Redirecciona al inicio
                    $vm.$router.push({ name: 'auth-sign-in' });
                })
            }
        }
    }
</script>