<template>
    <div class="py-3">
        
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="center-y">
                <router-link :to="{ name: 'home' }" class="btn btn-default center-all mr-2">
                    <feather type="arrow-left" size="18"></feather>
                </router-link>
                <div class="title">
                    <h4 class="mb-1">Products</h4>
                    <p class="text-muted mb-0">List of Productos</p>
                </div>
            </div>
            <div class="center-y">
                <input v-model="search" @keyup="searchProduct" @mouseup="searchProduct" type="search" placeholder="Search..." class="form-control mr-2">
                <router-link :to="{ name: 'products-create' }" class="btn text-nowrap btn-primary center-all mr-2">
                    <feather type="plus" size="16"></feather> Add New
                </router-link>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 my-3" v-for="(product, index) in products.data" :key="index">
                <div class="card rounded-xl overflow-hidden">
                    <img class="card-img-top image-card-cover" :src="product.attributes.image.startsWith('http') ? product.attributes.image : `/storage/${product.attributes.image}`" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title mb-2"><span class="badge badge-secondary p-1 mr-1">${{ product.attributes.price }}</span> {{ product.attributes.name }}</h5>
                        <h5 class="card-title font-weight-normal text-muted mb-1">SKU: {{ product.attributes.sku }}</h5>
                        <p class="card-text">{{ product.attributes.description }}</p>
                        <router-link :to="{ name: 'products-edit-id', params: { id: product.id} }" class="btn btn-primary rounded-pill mb-1 mr-2">View Product</router-link>
                        <button @click="deleteProduct(product.id)" :class="{'btn-loading-dark' : product.id == currentProduct}" class="btn btn-outline-primary rounded-pill mb-1">Delete</button>
                    </div>
                </div>
            </div>
            <div class="mt-5 center-all" v-if="products.length == 0">
                <feather class="mr-2" type="loader" animation="spin"></feather> Loading...
            </div>
            <div class="container my-4">
                <div class="row">
                    <div class="col-1">
                        <pagination v-if="pagination" :data="pagination" @pagination-change-page="getProducts"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import { debounce } from 'lodash';

    export default {
        data() {
            return {
                search: '',
                currentProduct: 0,
                products: []
            }
        },
        computed: {
            pagination: function () {

                if(this.products.length == 0 || !this.products)
                    return null;

                return {
                    ...this.products.meta,
                    ...this.products.links,
                };
            }
        },
        methods: {
            getProducts: function(page = 1){
                var $vm = this;
                axios.get(`/api/v1/products?page=${page}&search=${$vm.search}`)
                .then(response => {
                    $vm.products = response.data || [];
                });
            },
            deleteProduct: function(id){
                var $vm = this;
                $vm.currentProduct = id;
                axios.delete(`/api/v1/products/${id}`)
                .then(response => {
                    $vm.currentProduct = 0;
                    $vm.getProducts();
                });
            },
            searchProduct: debounce(function () {
                this.getProducts()
            }, 300),
        },
        mounted() {
            let $vm = this
            $vm.$nextTick(() => {
                $vm.getProducts(1);
            });
        },
    }
</script>