<template>
    <div class="row h-100">
        <div class="col-12 center-all">
            <div>
                <h1 class="mb-4 d-flex text-primary2">
                    <feather class="mr-3" type="frown" size="36"></feather>
                    Oh no! Somethig's missing.
                </h1>
                <router-link :to="{ name: 'index' }" class="center-y">
                    <feather class="mr-1" type="arrow-left" size="16"></feather>
                    Go Back
                </router-link>
            </div>
        </div>
    </div>
</template>