<template>
    <div class="row h-100">
        <div class="col-12 center-y">
            <div>
                <h1 class="mb-4 d-flex text-primary">
                    <feather class="mr-2" type="smile" size="40"></feather>
                    <span>
                        Welcome <b>{{ (user.attributes.name || "guest").toUpperCase() }}</b><br> {{message}}
                    </span>
                </h1>
                <h4 class="font-weight-normal text-muted">Let's make something great together.</h4>
                <div class="user-buttons d-flex flex-wrap mt-5">
                    <router-link :to="{ name: 'index' }" class="btn btn-outline-primary rounded-xl py-2 mx-2 center-all flex-wrap">
                        <feather type="star" size="18"></feather>
                        <span class="d-inline-block w-100 mt-2">
                            MAIN PAGE
                        </span>
                    </router-link>
                    <button @click="signOutRequest('index')" class="btn btn-outline-primary rounded-xl py-2 mx-2 center-all flex-wrap">
                        <feather type="power" size="18"></feather>
                        <span class="d-inline-block w-100 mt-2">
                            SIGN OUT
                        </span>
                    </button>
                    <router-link :to="{ name: 'users-index' }" class="btn btn-outline-primary rounded-xl py-2 mx-2 center-all flex-wrap">
                        <feather type="users" size="18"></feather>
                        <span class="d-inline-block w-100 mt-2">
                            MEMBERS
                        </span>
                    </router-link>
                    <router-link :to="{ name: 'products-index' }" class="btn btn-outline-primary rounded-xl py-2 mx-2 center-all flex-wrap">
                        <feather type="truck" size="18"></feather>
                        <span class="d-inline-block w-100 mt-2">
                            PRODUCTS
                        </span>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        middleware: 'auth',
        data() {
            return {
                loading: false,
            }
        },
        computed: {
            message: function(){
                
                var hour = (new Date()).getHours();
                if (hour >= 0 && hour < 12)
                    return "good Morning!";
                else if (hour == 12)
                    return "good Noon!";
                else if (hour >= 12 && hour <= 17)
                    return "good Afternoon!";
                else
                    return "good Evening!";
            }
        },
        methods: {
            // getUser: function(){
            //     var $vm = this;
            //     $vm.loading = true;
            //     axios.get('/api/v1/auth/user')
            //     .then(response => {
            //         $vm.loading = false;
            //         let user = response.data || {};
            //         console.log(user)
            //         if(user != null){
            //             $vm.$store.set('user', user)
            //             $vm.user = user
            //         }
            //     });
            // }
        },
        mounted() {
            let $vm = this
            $vm.$nextTick(() => {
                $vm.user = $vm.$store.get('user')
            });
        },
    }
</script>