<template>
    <div class="row h-100">
        <div class="col-12 col-md-8 center-all">
            <div>
                <h1 class="mb-4 d-flex text-primary">
                    <feather class="mr-3" type="coffee" size="36"></feather>
                    Laravel + Vue.js FullStack
                </h1>
                <h4 class="font-weight-normal text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac elementum nibh. Suspendisse suscipit ac lorem id volutpat. Nam laoreet augue non tortor condimentum pharetra.</h4>
                <div class="auth-buttons mt-5" v-if="user == null">
                    <router-link :to="{ name: 'auth-sign-in' }" class="btn btn-primary rounded-pill">SIGN IN</router-link>
                    <router-link :to="{ name: 'auth-sign-up' }" class="btn btn-outline-primary rounded-pill ml-2">SIGN UP FOR FREE</router-link>
                </div>
                <div class="mt-5" v-else>
                    <router-link :to="{ name: 'home' }" class="btn btn-primary rounded-pill">
                        <feather class="mr-1" type="home" size="16"></feather>
                        HI <b>{{ (user.attributes.name || "guest").toUpperCase() }}</b>, GO HOME
                    </router-link>
                    <button @click="signOutRequest()" class="btn btn-outline-secondary rounded-pill ml-2">
                        SIGN OUT
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            this.user = this.$store.get('user')
        },
    }
</script>