<template>
    <div class="row center-all h-100">
        <div class="col-11 col-sm-8 col-md-7 col-lg-4">
            <form id="update-product-form" method="post" autocomplete="off" @submit.prevent="updateProduct" novalidate>
                <div class="mb-4">
                    <h5 class="mb-1"> UPDATE PRODUCT </h5>
                    <p class="text-muted">
                        Update product by id
                    </p>
                </div>
                <div class="mb-2">
                    <label for="name" class="form-label">Image</label>
                    <input type="file" class="form-control" id="image" ref="file" v-on:change="handleFileUpload()">
                </div>
                <div class="mb-2">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" v-model="form.name">
                </div>
                <div class="mb-2">
                    <label for="sku" class="form-label">SKU</label>
                    <input type="text" v-maska="'#############'" class="form-control" id="sku" v-model="form.sku">
                </div>
                <div class="mb-2">
                    <label for="quantity" class="form-label">Quantity</label>
                    <input type="number" class="form-control" id="quantity" v-model="form.quantity">
                </div>
                <div class="mb-2">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" id="price" v-model="form.price">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="number" class="form-control" id="description" v-model="form.description"></textarea>
                </div>
                <button type="submit" class="btn btn-primary rounded-pill">UPDATE USER</button>
            </form>
        </div>
    </div>
</template>

<script>

    export default {
        data(){
            return {
                loading: false,
                form: new WebForm("#update-product-form", {
                    name: null,
                    image: null,
                    sku: null,
                    quantity: null,
                    price: null,
                    description: null,
                })
            };
        },
        methods: {
            getProduct: function(){
                var $vm = this;
                axios.get(`/api/v1/products/${$vm.$route.params.id}`)
                .then(response => {
                    let data = response.data || [];
                    $vm.form.fill(data.attributes);
                    $vm.form.image = null;
                });
            },
            updateProduct: function(){

                var $vm  = this;
                let data = $vm.form.data();
                let formData = new FormData();

                // Asigna los valores del formulario
                Object.keys(data).forEach(key => {
                    let value = data[key]
                    if(value != null)
                        formData.append(key, value);
                });

                formData.append('_method', 'PUT');

                $vm.loading = true;
                $vm.form.clear();
                axios.post(`/api/v1/products/${$vm.$route.params.id}`, formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(res => {
                    $vm.loading = false;
                    // Redirecciona a la lista de productos
                    $vm.$router.push({ name: 'products-index' });
                }).catch(error => {
                    $vm.loading = false;
                    $vm.form.setExceptions(error)
                });
            },
            handleFileUpload(){
                this.form.image = this.$refs.file.files[0];
            }
        },
        mounted() {
            let $vm = this;
            $vm.$nextTick(() => {
                $vm.getProduct();
            });
        }
    }
</script>