<template>
    <div class="py-3">
        <div class="center-y mt-4">
            <router-link :to="{ name: 'home' }" class="btn btn-default center-all mr-2">
                <feather type="arrow-left" size="18"></feather>
            </router-link>
            <div class="title">
                <h4 class="mb-1">Users</h4>
                <p class="text-muted mb-0">List of Users</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 my-3" v-for="(user, index) in users.data" :key="index">
                <div class="card rounded-xl overflow-hidden">
                    <div class="card-body">
                        <div class="d-flex">
                            <img class="rounded-circle p-1 mr-2" :src="`https://ui-avatars.com/api/?size=45&name=${user.attributes.name}}`" alt="">
                            <div>
                                <h5 class="card-title">{{ user.attributes.name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ user.attributes.email }}</h6>
                            </div>
                        </div>
                        <p class="card-text mb-3">@{{ user.attributes.username }} | {{ user.attributes.phone }}</p>
                        <router-link :to="{ name: 'users-edit-id', params: { id: user.id } }" class="btn btn-primary rounded-pill mb-1 mr-2">View User</router-link>
                        <button @click="deleteUser(user.id)" :class="{'btn-loading-dark' : user.id == currentUser}" class="btn btn-outline-primary rounded-pill mb-1">Delete</button>
                    </div>
                </div>
            </div>
            <div class="mt-5 center-all" v-if="users.length == 0">
                <feather class="mr-2" type="loader" animation="spin"></feather> Loading...
            </div>
            <div class="container my-4">
                <div class="row">
                    <div class="col-1">
                        <pagination v-if="pagination" :data="pagination" @pagination-change-page="getUsers"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                currentUser: 0,
                users: []
            }
        },
        computed: {
            pagination: function () {

                if(this.users.length == 0 || !this.users)
                    return null;

                return {
                    ...this.users.meta,
                    ...this.users.links,
                };
            }
        },
        methods: {
            getUsers: function(page = 1){
                var $vm = this;
                axios.get(`/api/v1/users?page=${page}`)
                .then(response => {
                    $vm.users = response.data || [];
                });
            },
            deleteUser: function(id){
                var $vm = this;
                $vm.currentUser = id;
                axios.delete(`/api/v1/users/${id}`)
                .then(response => {
                    $vm.currentUser = 0;
                    $vm.getUsers();
                });
            }
        },
        mounted() {
            let $vm = this
            $vm.$nextTick(() => {
                $vm.getUsers(1);
            });
        },
    }
</script>