<template>
    <div class="row center-all h-100">
        <div class="col-11 col-sm-8 col-md-7 col-lg-4">
            <form id="sign-in-form" method="post" autocomplete="off" @submit.prevent="updateUser" novalidate>
                <div class="mb-4">
                    <h5 class="mb-1"> UPDATE USER </h5>
                    <p class="text-muted">
                        Update the user information
                    </p>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" v-model="form.name">
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" v-model="form.username">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" v-maska="'+503 ####-####'" class="form-control" id="phone" v-model="form.phone">
                </div>
                <div class="mb-3">
                    <label for="day" class="form-label">Birthday</label>
                    <div class="row">
                        <div class="col-4 pr-2">
                            <input type="text" v-maska="'##'" v-model="birthday.day" class="form-control" placeholder="Day" id="day">
                        </div>
                        <div class="col-4 px-2">
                            <select v-model="birthday.month" class="form-control" id="month">
                                <option v-for="(month, index) in months" :key="index" :value="(index + 1)">{{ month }}</option>
                            </select>
                        </div>
                        <div class="col-4 pl-2">
                            <input type="text" v-maska="'####'" v-model="birthday.year" class="form-control" placeholder="Year" id="year">
                        </div>
                    </div>
                    <div id="birthday"></div>
                </div>
                <button type="submit" class="btn btn-primary rounded-pill">UPDATE USER</button>
            </form>
        </div>
    </div>
</template>

<script>

    export default {
        data(){
            return {
                user: null,
                birthday: {
                    day: null,
                    month: 1,
                    year: null,
                },
                form: new WebForm("#sign-in-form", {
                    id:       null,
                    name:     null,
                    username: null,
                    phone:    null,
                    birthday: null,
                })
            };
        },
        methods: {
            getUser: function(){
                var $vm = this;
                axios.get(`/api/v1/users/${$vm.$route.params.id}`)
                .then(response => {
                    let data     = response.data || [];
                    let birthday = data.attributes.birthday.split('-');
                    $vm.form.fill(data.attributes);
                    $vm.birthday.day   = birthday[2];
                    $vm.birthday.month = parseInt(birthday[1]);
                    $vm.birthday.year  = birthday[0];
                });
            },
            updateUser(){
                var $vm = this

                let day   = String(($vm.birthday.day || 0)).padStart(2, '0')
                let month = String(($vm.birthday.month || 0)).padStart(2, '0')
                let year  = String(($vm.birthday.year || 0)).padStart(4, '0')

                $vm.form.birthday = `${year}-${month}-${day}`
                $vm.form.put(`/api/v1/users/${$vm.$route.params.id}`)
                .then(response => {

                    // Redirecciona a la lista de usuarios
                    $vm.$router.push({ name: 'users-index' });
                })
            }
        },
        mounted() {
            let $vm = this
            $vm.$nextTick(() => {
                $vm.getUser();
            });
        }
    }
</script>